@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Inter', sans-serif; /* Use modern sans-serif font */
    scroll-behavior: smooth; /* Smooth scrolling for a modern experience */
  }

  body {
    background-color: #f7fafc; /* Light background color */
  }
}
